body {
  font-family: serif;
}

h1 {
  text-align: center;
}

.modal {
    position: fixed;
    inset: 0;                     
    background: rgba(0,0,0,.7);   
    display: flex;
    flex-direction: column;       
    align-items: center;         
    justify-content: center;     
    padding: 2rem;               
    z-index: 999;
    overflow: hidden;
    display: none;         
}

.modal img {
    display: none;
    margin: .5rem auto;
    max-width: 85vw;
    max-height: 78vh;
    width: auto;
    height: auto;
    border-radius: 6px;
    transition: opacity .35s ease, visibility .35s;
}

.modal img.show {
  display: block;
  opacity: 1;
}

.container {
  background-color: peachpuff;
  border-radius: 6px;
  width: 75%;
  margin: auto;
  padding-top: 5px;
  box-shadow: 10px 10px 5px #888;
  position: relative;
  text-align: center;
}

.question {
  font-size: 3em;
  width: 90%;
  height: auto;
  margin: auto;
  border-radius: 6px;
  background-color: goldenrod;
  text-align: center;
  position: top;
}

.choices {
  font-family: Courier, serif;
  color: indianred;
  margin-top: 2em;
  margin-bottom: 10%;
  padding-bottom: 3em;
  display: grid;
  place-items: center;
}

.choice {
  color: indianred;
  cursor: pointer;
  font-size: 2em;
  text-align: center;
  text-wrap: balance;
  background-color: #123524;
  border-radius: 30px;
  width: 30%;
  margin: 1rem;
  box-shadow: 
    0 2px 4px rgba(0, 0, 0, 0.856),
    0 6px 12px rgba(0, 0, 0, 0.904);
}

.choice:hover {
  text-shadow:
    /* 0 0 5px rgb(240, 187, 14),
    0 0 10px rgb(240, 187, 14), */
    0 0 20px rgb(240, 187, 14),
    0 0 40px rgb(240, 187, 14);

    box-shadow: 0 0 15px 2px #e9af0e;
}
